.footer-site {
  margin-top: 80px;
  padding-top: 30px;
  background-color: #2c343e;
}
.container-footer {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.footer-ul {
  display: flex;
  list-style-type: none;
  margin: 0 100px;
  padding: 0;
}

.footer-link {
  display: inline-block;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.923077px;
  padding: 40px 8px;
  text-decoration: none;
  color: #83888f;
  margin: 12px;
}
@media only screen and (max-width: 420px) {
  .footer-site {
    width: 100%;
    max-width: 375px;
    margin: 0 auto;
    padding-top: 40px;
  }
  .container-footer {
    flex-direction: column;
  }
  .footer-ul {
    text-align: center;
    flex-direction: column;
    padding: 10px;
  }
  .footer-link {
    padding: 5px;
  }
}
