.section-quality {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  margin-top: 150px;
  background-color: #2c343e;
  padding-bottom: 176px;
  padding-left: 85px;
  padding-top: 90px;
}

.quality {
  position: absolute;
  right: 85px;
  top: -140px;
}

.quality__h2 {
  width: 517px;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  color: #fefcf7;
  margin-bottom: 32px;
}

.quality__p {
  width: 540px;
  font-size: 16px;
  line-height: 26px;
  color: #fefcf7;
  mix-blend-mode: normal;
  opacity: 0.8;
}
